.salary {
  padding-top: 205px;
  @include pc {
    padding-top: calc(205vw / (1200 / 100));
  }
  @include tab {
    padding-top: calc(102vw / (768 / 100));
  }
  h2 {
    padding: 30px 0 0 0;
    margin: 0 auto;

    background: url(../images/h2-bg.png) no-repeat center center / 892px 111px;
    width: 892px;
    height: 111px;

    font-size: 40px;
    font-family: $gothic;
    font-weight: 400;
    color: #5cc5d8;
    text-align: center;
    letter-spacing: 0.5rem;
    @include pc {
      padding: calc(30vw / (1200 / 100)) 0;
      font-size: calc(40vw / (1200 / 100));
      background-size: calc(892vw / (1200 / 100)) calc(111vw / (1200 / 100));
      width: calc(892vw / (1200 / 100));
      height: calc(111vw / (1200 / 100));
    }
    @include tab {
      font-size: calc(32vw / (768 / 100));
      background-size: calc(749vw / (768 / 100)) calc(94vw / (768 / 100));
      width: calc(749vw / (768 / 100));
      height: calc(94vw / (768 / 100));
      padding: calc(30vw / (768 / 100)) 0 0 0;
    }
  }

  &__box {
    padding-top: 240px;
    width: 100%;
    position: relative;
    font-family: $gothic;
    @include pc {
      padding-top: calc(240vw / (1200 / 100));
    }
    @include tab {
      display: flex;
      flex-direction: column;
      padding-top: calc(19vw / (768 / 100));
    }

    &__text-1 {
      padding-right: 17px;
      padding-bottom: 10px;
      color: #3c93b9;
      font-size: 39px;
      text-align: right;
      letter-spacing: 0.07rem;
      @include pc {
        padding-right: calc(17vw / (1200 / 100));
        padding-bottom: calc(10vw / (1200 / 100));
        font-size: calc(35vw / (1200 / 100));
      }
      @include tab {
        order: 2;
        font-size: calc(40vw / (768 / 100));
        width: 100%;
        padding: calc(83vw / (768 / 100)) 0 0 0;
        text-align: center;
        margin: 0 auto;
      }
    }

    &__text-2 {
      background-color: #c2dff5;
      width: 100%;
      height: 391px;
      padding: 38px 70px 10px 0;
      text-align: right;
      position: relative;
      line-height: 0.95;
      @include pc {
        padding: calc(38vw / (1200 / 100)) calc(70vw / (1200 / 100))
          calc(10vw / (1200 / 100)) 0;
        height: calc(391vw / (1200 / 100));
      }
      @include tab {
        order: 3;
        background-color: unset;
        position: unset;
        padding: calc(38vw / (768 / 100)) calc(90vw / (768 / 100))
          calc(10vw / (768 / 100)) 0;
      }
      p {
        color: #3c93b9;
        font-size: 58px;
        letter-spacing: -0.35rem;
        @include pc {
          font-size: calc(58vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(66vw / (768 / 100));
        }
        span {
          font-size: 133px;
          @include pc {
            font-size: calc(133vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(151vw / (768 / 100));
          }
        }
        &:first-child {
          &::after {
            content: "見ているだけ";
            display: inline-block;
            position: absolute;
            top: 69px;
            right: 83px;
            font-size: 23px;
            letter-spacing: -0.09rem;
            font-weight: 600;
            @include pc {
              font-size: calc(23vw / (1200 / 100));
              top: calc(69vw / (1200 / 100));
              right: calc(83vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(26vw / (768 / 100));
              top: calc(78vw / (768 / 100));
              right: calc(116vw / (768 / 100));
            }
            @include sp {
              right: calc(64vw / (440 / 100));
            }
          }
        }
        &:nth-child(2) {
          &::after {
            content: "ハンドサービス";
            display: inline-block;
            position: absolute;
            top: 195px;
            right: 70px;
            font-size: 23px;
            letter-spacing: -0.09rem;
            font-weight: 600;
            @include pc {
              font-size: calc(23vw / (1200 / 100));
              top: calc(195vw / (1200 / 100));
              right: calc(70vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(26vw / (768 / 100));
              top: calc(226vw / (768 / 100));
              right: calc(92vw / (768 / 100));
            }
            @include sp {
              right: calc(50vw / (440 / 100));
            }
          }
        }
        &:last-child {
          font-size: 44px;
          letter-spacing: -0.01rem;
          font-weight: bold;
          padding-top: 10px;
          @include pc {
            font-size: calc(44vw / (1200 / 100));
            padding-top: calc(10vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(50vw / (768 / 100));
            padding-top: calc(48vw / (768 / 100));
          }
        }
      }
    }

    &__img {
      position: absolute;
      top: 78px;
      left: 0;
      @include pc {
        top: calc(78vw / (1200 / 100));
      }
      @include tab {
        order: 1;
        position: relative;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        &::after {
          content: "";
          background-color: #c2dff5;
          width: 100%;
          height: calc(438vw / (768 / 100));
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }
      }

      img {
        width: 609px;
        @include pc {
          width: calc(609vw / (1200 / 100));
        }
        @include tab {
          width: unset;
          height: calc(686vw / (768 / 100));
        }
      }
    }
  }

  &__box2 {
    padding-top: 30px;
    padding-left: 14px;
    @include pc {
      padding-top: calc(30vw / (1200 / 100));
      padding-left: calc(14vw / (1200 / 100));
    }
    @include tab {
      padding-top: calc(223vw / (768 / 100));
    }
    p {
      color: #3c93b9;
      font-size: 27px;
      letter-spacing: -0.035rem;
      line-height: 1.45;
      @include pc {
        font-size: calc(27vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(28vw / (768 / 100));
        line-height: 1.43;
      }
      @include sp {
        font-size: calc(19vw / (440 / 100));
        line-height: 1.6;
      }
    }
  }

  &__table {
    padding-top: 87px;
    margin: 0 auto;
    width: 1076px;
    @include pc {
      padding-top: calc(87vw / (1200 / 100));
      width: calc(1076vw / (1200 / 100));
    }
    @include tab {
      width: 100%;
      margin: unset;
    }
    table {
      width: 100%;
      font-size: 22px;
      font-family: $gothic;
      @include pc {
        font-size: calc(22vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(32vw / (768 / 100));
      }
      thead {
        tr {
          th {
            border: 1px solid #646464;
            padding: 17px 0;
            color: #fff;
            text-align: center;
            @include pc {
              padding: calc(17vw / (1200 / 100)) 0;
            }
            @include tab {
              padding: calc(17vw / (768 / 100)) calc(20vw / (768 / 100));
            }

            &:first-child {
              font-size: 19px;
              color: #01869d;
              background-color: #f5f5f5;
              @include pc {
                font-size: calc(19vw / (1200 / 100));
              }
              @include tab {
                background-color: #e6e6e6;
                font-size: calc(26vw / (768 / 100));
              }
            }
            &:nth-child(2) {
              background-color: #00939a;
            }
            &:nth-child(3) {
              background-color: #016c9d;
            }
          }
        }
      }
      tbody {
        tr {
          border: 1px solid #646464;
          @include tab {
            &:nth-child(2) {
              th {
                background-color: #016c9d;
                color: #fff;
              }
            }
            &:nth-child(4) {
              th {
                &:first-child {
                  background-color: #e6e6e6;
                }
              }
              p {
                &:last-child {
                  text-align: left;
                  text-indent: -1em;
                  padding-left: 1em;
                  letter-spacing: -0.05em;
                }
              }
            }
          }

          td {
            border: 1px solid #646464;
            padding: 47px 0;
            text-align: center;
            letter-spacing: -0.15em;
            @include pc {
              padding: calc(47vw / (1200 / 100)) 0;
            }
            @include tab {
              padding: calc(34vw / (768 / 100)) calc(36vw / (768 / 100));
              color: #016c9d;
            }

            &:first-of-type {
              li {
                color: #01869d;
              }
            }
            &:last-of-type {
              li {
                color: #016c9d;
              }
            }

            ul {
              display: inline-block;
              font-size: 26px;
              text-align: left;
              @include pc {
                font-size: calc(26vw / (1200 / 100));
              }

              li {
                display: flex;
                justify-content: space-between;
                gap: 40px;
                @include pc {
                  gap: calc(40vw / (1200 / 100));
                }
              }

              span {
                font-size: 60px;
                @include pc {
                  font-size: calc(60vw / (1200 / 100));
                }
                @include tab {
                  font-size: calc(87vw / (768 / 100));
                }
              }
            }
          }
          th {
            color: #01869d;
            background-color: #f5f5f5;
            font-size: 19px;
            text-align: center;
            vertical-align: middle;
            padding: 0 10px;
            @include pc {
              font-size: calc(19vw / (1200 / 100));
              padding: 0 calc(5vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(26vw / (768 / 100));
              padding: calc(19vw / (768 / 100)) calc(10vw / (768 / 100));
            }
          }
          p {
            font-size: 26px;
            @include pc {
              font-size: calc(26vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(32vw / (768 / 100));
            }
            span {
              font-size: 60px;
              @include pc {
                font-size: calc(60vw / (1200 / 100));
              }
              @include tab {
                font-size: calc(87vw / (768 / 100));
              }
            }
          }
          &:nth-of-type(2) {
            td {
              padding: 28px 50px;
              color: #3c93db;
              @include pc {
                padding: calc(28vw / (1200 / 100)) calc(33vw / (768 / 100));
              }
              @include tab {
                padding: calc(10vw / (768 / 100)) 0;
              }

              p {
                display: inline-block;
                text-align: left;
                &:last-child {
                  font-size: 19px;
                  text-indent: -1.3rem;
                  padding-left: 1rem;
                  font-weight: 500;
                  letter-spacing: -0.01em;
                  margin-left: 34px;
                  @include pc {
                    font-size: calc(19vw / (1200 / 100));
                    text-indent: calc(-1.3rem / (1200 / 100));
                    padding-left: calc(1rem / (1200 / 100));
                    margin-left: calc(34vw / (1200 / 100));
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__box3 {
    padding-top: 112px;
    @include pc {
      padding-top: calc(112vw / (1200 / 100));
    }
    @include tab {
      padding-top: calc(75vw / (768 / 100));
    }
    &-title {
      padding-bottom: 14px;
      font-size: 59px;
      font-family: $gothic;
      color: $pink;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.75rem;
      @include pc {
        font-size: calc(59vw / (1200 / 100));
        padding-bottom: calc(14vw / (1200 / 100));
      }
      @include tab {
        letter-spacing: 0.3rem;
        font-size: calc(70vw / (768 / 100));
        padding-bottom: calc(20vw / (768 / 100));
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin: 0 auto;
      width: 1085px;
      border: 4px solid $pink;
      border-radius: 32px;
      background-color: #ffebf7;
      color: $pink;
      @include pc {
        gap: calc(18vw / (1200 / 100));
        width: calc(1085vw / (1200 / 100));
        border-radius: calc(32vw / (1200 / 100));
      }
      @include tab {
        width: 100%;
        margin: 0 auto;
        border-radius: calc(32vw / (768 / 100));
        border: calc(4vw / (768 / 100)) solid $pink;
        gap: calc(8vw / (768 / 100));
        &::after {
          content: "必ず即日お渡しいたします!";
          color: $pink;
          font-size: calc(40vw / (768 / 100));
          font-weight: bold;
          margin: 0 auto;
          letter-spacing: calc(-3vw / (768 / 100));
          padding-bottom: 14px;
        }
      }

      &-1,
      &-2 {
        display: flex;
        padding-right: 25px;
        @include pc {
          padding-right: calc(25vw / (1200 / 100));
        }
        @include tab {
          padding-right: 0;
          flex-direction: column;
          align-self: start;
        }
      }

      &-1 {
        padding-top: 36px;
        align-items: center;
        justify-content: space-between;
        @include pc {
          padding-top: calc(36vw / (1200 / 100));
        }
        @include tab {
          padding-top: calc(33vw / (768 / 100));
        }

        p {
          &:first-child {
            font-size: 53px;
            position: relative;
            background-color: $pink;
            width: 555px;
            height: 87px;
            text-align: center;
            color: #ffff00;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.5rem;
            font-weight: bold;
            @include pc {
              font-size: calc(40vw / (1200 / 100));
              width: calc(555vw / (1200 / 100));
              height: calc(87vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(50vw / (768 / 100));
              width: calc(533vw / (768 / 100));
              height: calc(82vw / (768 / 100));
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              display: block;
              height: 87px;
              border: 40px solid $pink;
              right: -40px;
              border-right-width: 15px;
              border-right-color: transparent;
              @include pc {
                height: calc(87vw / (1200 / 100));
                right: calc(-40vw / (1200 / 100));
                border-right-color: transparent;
                border: calc(40vw / (1200 / 100)) solid $pink;
              }
              @include tab {
                right: calc(-49vw / (768 / 100));
                height: calc(82vw / (768 / 100));
                border: calc(41vw / (768 / 100)) solid $pink;
                border-right-width: calc(16vw / (768 / 100));
                border-right-color: transparent;
              }
            }
          }
          &:last-child {
            font-size: 35px;
            letter-spacing: -0.04rem;
            padding-right: 17px;
            font-weight: 500;
            @include pc {
              font-size: calc(35vw / (1200 / 100));
              padding-right: calc(17vw / (1200 / 100));
            }
          }
        }
      }

      &-2 {
        align-items: center;
        justify-content: flex-start;
        gap: 46px;
        padding: 0 0 0 24px;
        margin-top: -20px;
        @include pc {
          gap: calc(46vw / (1200 / 100));
          padding: 0 0 0 calc(24vw / (1200 / 100));
          margin-top: calc(-20vw / (1200 / 100));
        }
        @include tab {
          position: relative;
          padding: calc(34vw / (768 / 100)) 0 0 calc(39vw / (768 / 100));
          line-height: calc(115vw / (768 / 100));
          gap: 0;
        }
        p {
          font-size: 52px;
          letter-spacing: 0.12rem;
          font-weight: bold;
          @include pc {
            font-size: calc(40vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(50vw / (768 / 100));
          }
          span {
            font-size: 153px;
            @include pc {
              font-size: calc(153vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(153vw / (768 / 100));
            }
          }
          .middlefont {
            font-size: 79px;
            @include pc {
              font-size: calc(79vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(79vw / (768 / 100));
            }
          }
          &:last-child {
            padding: 25px 0;
            font-size: 30px;
            color: #ffff00;
            background-color: $pink;
            border-radius: 50%;
            text-align: center;
            width: 159px;
            height: 159px;
            font-weight: 500;
            @include pc {
              padding: calc(25vw / (1200 / 100)) 0;
              font-size: calc(30vw / (1200 / 100));
              width: calc(159vw / (1200 / 100));
              height: calc(159vw / (1200 / 100));
            }
            @include tab {
              padding: calc(35vw / (768 / 100)) 0;
              font-size: calc(40vw / (768 / 100));
              width: calc(217vw / (768 / 100));
              height: calc(217vw / (768 / 100));

              position: absolute;
              top: calc(70vw / (768 / 100));
              left: calc(480vw / (768 / 100));

              line-height: calc(45vw / (768 / 100));
            }
            span {
              font-size: 20px;
              @include pc {
                font-size: calc(20vw / (1200 / 100));
              }
              @include tab {
                font-size: calc(26vw / (768 / 100));
              }
            }
          }
        }
      }
    }
  }

  &__box4 {
    padding-top: 112px;
    @include pc {
      padding-top: calc(112vw / (1200 / 100));
    }
    @include tab {
      padding-top: calc(119vw / (768 / 100));
    }
    &-title {
      font-size: 91px;
      text-align: center;
      background: linear-gradient(
        45deg,
        rgba(217, 120, 247, 1) 0%,
        rgba(235, 103, 155, 1) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.04rem;
      line-height: 1.2;
      @include pc {
        font-size: calc(91vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(66vw / (768 / 100));
        line-height: 1.3;
      }

      p {
        &:last-child {
          font-size: 54px;
          @include pc {
            font-size: calc(54vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(40vw / (768 / 100));
          }
        }
      }
    }

    &-inner {
      position: relative;
      height: 830px;
      @include pc {
        height: calc(830vw / (1200 / 100));
      }
      @include tab {
        height: calc(1300vw / (768 / 100));
      }
      img {
        position: absolute;
        width: 269px;
        @include pc {
          width: calc(269vw / (1200 / 100));
        }
        @include tab {
          width: calc(365vw / (768 / 100));
        }
        &:first-child {
          top: 34px;
          left: 307px;
          width: 577px;
          @include pc {
            top: calc(34vw / (1200 / 100));
            left: calc(307vw / (1200 / 100));
            width: calc(577vw / (1200 / 100));
          }
          @include tab {
            top: calc(92vw / (768 / 100));
            left: calc(335vw / (768 / 100));
            width: calc(407vw / (768 / 100));
          }
        }
        &:nth-child(2) {
          top: 165px;
          left: 72px;
          transform: rotate(346deg);
          @include pc {
            top: calc(165vw / (1200 / 100));
            left: calc(72vw / (1200 / 100));
          }
          @include tab {
            top: calc(74vw / (768 / 100));
            left: calc(13vw / (768 / 100));
            transform: rotate(353deg);
          }
        }
        &:nth-child(3) {
          top: 500px;
          left: 221px;
          transform: rotate(-10deg);
          @include pc {
            top: calc(500vw / (1200 / 100));
            left: calc(221vw / (1200 / 100));
          }
          @include tab {
            top: calc(493vw / (768 / 100));
            left: calc(27vw / (768 / 100));
            transform: rotate(-8deg);
            z-index: 2;
          }
        }
        &:nth-child(4) {
          top: 515px;
          left: 470px;
          transform: rotate(1deg);
          @include pc {
            top: calc(515vw / (1200 / 100));
            left: calc(470vw / (1200 / 100));
          }
          @include tab {
            top: calc(455vw / (768 / 100));
            left: calc(357vw / (768 / 100));
            transform: rotate(7deg);
            z-index: 1;
          }
        }
        &:nth-child(5) {
          top: 509px;
          left: 722px;
          transform: rotate(14deg);
          @include pc {
            top: calc(488vw / (1200 / 100));
            left: calc(692vw / (1200 / 100));
          }
          @include tab {
            top: calc(912vw / (768 / 100));
            left: calc(26vw / (768 / 100));
            transform: rotate(4deg);
          }
        }
        &:nth-child(6) {
          top: 170px;
          right: 59px;
          transform: rotate(17deg);
          @include pc {
            top: calc(170vw / (1200 / 100));
            right: calc(59vw / (1200 / 100));
          }
          @include tab {
            top: calc(867vw / (768 / 100));
            right: 0;
            transform: rotate(-4deg);
          }
        }
      }
    }
  }
}
