.concept {
  &__bg {
    background: url(../img/concept-bg.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1203px;
    @include pc {
      height: calc(1203vw / (1200 / 100));
    }
    @include tab {
      margin-top: calc(115vw / (768 / 100));
      position: relative;
      height: calc(1541vw / (768 / 100));
      background-size: auto calc(840vw / (768 / 100));
      background-position: calc(-806vw / (768 / 100)) 0;
      overflow: hidden;

      .section-title {
        padding-top: 0;
        position: absolute;
        top: calc(-89vw / (768 / 100));
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
  .section-title {
    padding-top: 69px;
    @include pc {
      padding-top: calc(69vw / (1200 / 100));
    }
    @include tab {
      padding-top: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    padding: 125px 15px 0;
    gap: 54px;
    @include pc {
      padding: calc(125vw / (1200 / 100)) calc(15vw / (1200 / 100))
        calc(0vw / (1200 / 100));
      gap: calc(54vw / (1200 / 100));
    }
    @include tab {
      padding: calc(709vw / (768 / 100)) 0;
      align-items: center;
      gap: calc(72vw / (768 / 100));
      width: calc(671vw / (768 / 100));
      margin: 0 auto;
    }

    &__img {
      padding-left: 26px;
      @include pc {
        padding-left: calc(26vw / (1200 / 100));
      }
      @include tab {
        padding-left: 0;
      }
      img {
        width: 469px;
        @include pc {
          width: calc(469vw / (1200 / 100));
        }
        @include tab {
          width: calc(516vw / (768 / 100));
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      @include pc {
        gap: calc(12vw / (1200 / 100));
      }
      @include tab {
        gap: calc(16vw / (768 / 100));
      }

      p {
        font-size: 31px;
        color: $blue;
        font-weight: 500;
        font-family: "FOT-筑紫明朝 Pro", $mincho;
        line-height: 1.35;
        @include pc {
          font-size: calc(31vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(28vw / (768 / 100));
        }

        &:nth-child(2) {
          font-size: 41px;
          @include pc {
            font-size: calc(41vw / (1200 / 100));
          }
          @include tab {
            font-size: calc(37vw / (768 / 100));
          }
        }
      }
    }
  }

  &__caution {
    padding: 67px 0;
    @include pc {
      padding: calc(67vw / (1200 / 100)) 0;
    }
    @include tab {
      padding: calc(62vw / (768 / 100)) 0;
    }
    &__text {
      padding: 55px 0 0 232px;
      @include pc {
        padding: calc(55vw / (1200 / 100)) 0 calc(0vw / (1200 / 100))
          calc(232vw / (1200 / 100));
      }
      @include tab {
        padding: calc(57vw / (768 / 100)) 0 0;
        width: calc(694vw / (768 / 100));
        margin: 0 auto;
      }

      p {
        color: #091130;
        font-size: 18px;
        font-weight: 500;
        font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", $gothic;
        line-height: 1.88;
        font-feature-settings: "palt";
        @include pc {
          font-size: calc(18vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(28vw / (768 / 100));
          font-weight: 300;
          line-height: 1.65;
        }
      }
    }
  }
}
