.event {
  &-wrap {
    border: 1px solid $pink;
    @include tab {
      border: none;
    }
  }
  &__text-flex {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
    font-weight: normal;
    font-family: "小塚ゴシック Pr6N", "Noto Sans JP", sans-serif;
    h3 {
      font-size: 34px;
      @include pc {
        font-size: calc(34vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(30vw / (768 / 100));
      }
    }
    p {
      font-size: 24px;
      @include pc {
        font-size: calc(24vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(21vw / (768 / 100));
      }
    }
    span {
      font-size: 34px;
      font-weight: bold;
      @include pc {
        font-size: calc(34vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(30vw / (768 / 100));
      }
    }
  }
  &__pink,
  &__green {
    margin: 0 auto;
    padding: 80px 120px 100px;
    text-align: center;
    @include pc {
      padding: calc(80vw / (1200 / 100)) calc(120vw / (1200 / 100))
        calc(100vw / (1200 / 100));
    }
  }
  &__pink {
    color: $pink;
    span {
      background-color: $pink;
      color: #ffff00;
    }
  }
  &__green {
    color: #3eff00;
    span {
      background-color: #3eff00;
      color: #000;
    }
  }
}
