.profile {
  background: #f0f5ff;
  @include tab {
    background: #f8fbff;
    .section-title {
      text-align: left;
      margin-left: 40px;
      h2 {
        font-size: calc(50vw / (768 / 100));
      }
    }
  }
  &__hole {
    @include tab {
      display: flex;
      justify-content: space-between;
      width: 94%;
      padding: calc(20vw / (768 / 100)) 0 calc(10vw / (768 / 100));
      margin: 0 auto;
      li {
        width: calc(34vw / (768 / 100));
        height: calc(34vw / (768 / 100));
        border-radius: calc(50vw / (768 / 100));
        background-color: #fff;
        box-shadow: inset calc(-4vw / (768 / 100)) calc(-4vw / (768 / 100))
            calc(8vw / (768 / 100)) 0px rgba(255, 255, 255, 0.5),
          inset calc(5vw / (768 / 100)) calc(5vw / (768 / 100))
            calc(10vw / (768 / 100)) 0px rgba(0, 0, 0, 0.263);
      }
    }
  }
  &__outline {
    position: relative;
  }
  &__note {
    position: relative;
    z-index: 4;
    margin: 50px auto;
    padding: 116px 60px 60px 142px;
    background: url(../img/profile-bg.png) no-repeat;
    background-size: contain;
    width: 1000px;
    height: 1070px;
    font-family: "tegaki";
    color: #253e7c;
    @include pc {
      margin: calc(50vw / (1200 / 100)) auto;
      padding: calc(116vw / (1200 / 100)) calc(60vw / (1200 / 100))
        calc(60vw / (1200 / 100)) calc(142vw / (1200 / 100));
      width: calc(1000vw / (1200 / 100));
      height: calc(1070vw / (1200 / 100));
    }
    @include tab {
      background: none;
      padding: 0;
      margin: calc(20vw / (768 / 100)) auto calc(40vw / (768 / 100));
      width: 100%;
      height: auto;
    }
    .store {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      padding: 8px 0px;
      background: #f067a7;
      color: #fff;
      text-align: center;
      font-family: "riipop";
      font-size: 22px;
      letter-spacing: 0.03em;

      @include pc {
        width: calc(100vw / (1200 / 100));
        padding: calc(8vw / (1200 / 100)) 0;
        font-size: calc(22vw / (1200 / 100));
      }
      @include tab {
        display: inline-block;
        width: auto;
        margin-bottom: calc(20vw / (768 / 100));
        padding: calc(10vw / (768 / 100)) calc(20vw / (768 / 100));
        font-size: calc(34vw / (768 / 100));
      }
    }
    &-flex {
      display: flex;
      @include tab {
        flex-direction: column;
        gap: calc(130vw / (768 / 100));
      }
      &-img {
        position: relative;
        @include tab {
          margin: calc(20vw / (768 / 100)) auto calc(30vw / (768 / 100));
        }
        &::before {
          position: absolute;
          z-index: 2;
          content: "";
          background: url(../img/profile-sticky.png) no-repeat;
          background-size: contain;
          width: 115px;
          height: 100px;
          top: -72px;
          right: 0px;
          @include pc {
            width: calc(115vw / (1200 / 100));
            height: calc(100vw / (1200 / 100));
            top: calc(-72vw / (1200 / 100));
          }
          @include tab {
            width: calc(160vw / (768 / 100));
            height: calc(140vw / (768 / 100));
            top: calc(-100vw / (768 / 100));
            right: calc(-10vw / (768 / 100));
          }
        }
        &::after {
          position: absolute;
          z-index: 2;
          content: "";
          background: url(../img/profile-sticky.png) no-repeat;
          background-size: contain;
          width: 115px;
          height: 100px;
          bottom: -6px;
          left: -20px;
          @include pc {
            width: calc(115vw / (1200 / 100));
            height: calc(100vw / (1200 / 100));
            bottom: calc(-6vw / (1200 / 100));
            left: calc(-20vw / (1200 / 100));
          }
          @include tab {
            width: calc(160vw / (768 / 100));
            height: calc(140vw / (768 / 100));
            bottom: calc(-90vw / (768 / 100));
          }
        }
        img {
          position: relative;
          z-index: 1;
          transform: rotate(-10deg);
          width: 326px;
          box-shadow: -3px 1px 11px 0px rgba(0, 0, 0, 0.35);
          @include pc {
            width: calc(326vw / (1200 / 100));
          }
          @include tab {
            width: calc(520vw / (768 / 100));
          }
        }
      }
      &-info {
        margin-top: 4px;
        margin-left: 40px;
        @include pc {
          margin-top: calc(4vw / (1200 / 100));
          margin-left: calc(40vw / (1200 / 100));
        }
        @include tab {
          width: 94%;
          margin: calc(60vw / (768 / 100)) auto;
        }
        &-name {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 6px;
          @include pc {
            gap: calc(10vw / (1200 / 100));
            margin-top: calc(6vw / (1200 / 100));
          }
          @include tab {
            margin-top: calc(10vw / (768 / 100));
            &::after {
              position: absolute;
              bottom: calc(-16vw / (768 / 100));
              content: "";
              width: calc(686vw / (768 / 100));
              height: calc(8vw / (768 / 100));
              background: url(../img/profile-line1.png) no-repeat;
              background-size: contain;
            }
          }
        }
        li {
          display: flex;
          align-items: center;
          margin-bottom: 23px;
          font-size: 40px;
          @include pc {
            margin-bottom: calc(23vw / (1200 / 100));
            font-size: calc(40vw / (1200 / 100));
          }
          @include tab {
            position: relative;
            margin-bottom: calc(28vw / (768 / 100));
            font-size: calc(56vw / (768 / 100));
            &:nth-of-type(2) {
              &::after {
                position: absolute;
                bottom: calc(-16svw / (768 / 100));
                content: "";
                width: calc(706vw / (768 / 100));
                height: calc(11vw / (768 / 100));
                background: url(../img/profile-line2.png) no-repeat;
                background-size: contain;
              }
            }
            &:nth-of-type(3) {
              &::after {
                position: absolute;
                bottom: calc(-16vw / (768 / 100));
                content: "";
                width: calc(706vw / (768 / 100));
                height: calc(11vw / (768 / 100));
                background: url(../img/profile-line3.png) no-repeat;
                background-size: contain;
              }
            }
            &:nth-of-type(4) {
              &::after {
                position: absolute;
                bottom: calc(-16vw / (768 / 100));
                content: "";
                width: calc(706vw / (768 / 100));
                height: calc(11vw / (768 / 100));
                background: url(../img/profile-line4.png) no-repeat;
                background-size: contain;
              }
            }
            &:nth-of-type(5) {
              &::after {
                position: absolute;
                bottom: calc(-16vw / (768 / 100));
                content: "";
                width: calc(706vw / (768 / 100));
                height: calc(11vw / (768 / 100));
                background: url(../img/profile-line5.png) no-repeat;
                background-size: contain;
              }
            }
            &:nth-of-type(6) {
              &::after {
                position: absolute;
                bottom: calc(-16vw / (768 / 100));
                content: "";
                width: calc(706vw / (768 / 100));
                height: calc(11vw / (768 / 100));
                background: url(../img/profile-line6.png) no-repeat;
                background-size: contain;
              }
            }
          }
          span {
            font-size: 32px;
            @include pc {
              font-size: calc(32vw / (1200 / 100));
            }
            @include tab {
              font-size: calc(56vw / (768 / 100));
            }
          }
        }
      }
    }
    &-txt {
      margin-bottom: 20px;
      @include pc {
        margin-bottom: calc(20vw / (1200 / 100));
      }
      @include tab {
        width: 90%;
        margin: 0 auto calc(40vw / (768 / 100));
      }
      h3 {
        margin-bottom: 18px;
        font-size: 40px;
        @include pc {
          margin-bottom: calc(18vw / (1200 / 100));
          font-size: calc(40vw / (1200 / 100));
        }
        @include tab {
          margin-bottom: calc(12vw / (768 / 100));
          font-size: calc(46vw / (768 / 100));
        }
      }
      p {
        font-size: 31px;
        line-height: 1.83;
        @include pc {
          font-size: calc(31vw / (1200 / 100));
        }
        @include tab {
          font-size: calc(42vw / (768 / 100));
          line-height: 1.6;
        }
      }
    }
  }
  &__space {
    height: 10px;
    @include pc {
      height: calc(10vw / (1200 / 100));
    }
  }
  .tag {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 130px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 4px 0px 15px -8px #4a4a4a;
    color: #fff;
    background: #f067a7;
    font-family: "riipop";
    text-align: center;
    right: 72px;
    @include pc {
      width: calc(50vw / (1200 / 100));
      height: calc(130vw / (1200 / 100));
      border-top-right-radius: calc(4vw / (1200 / 100));
      border-bottom-right-radius: calc(4vw / (1200 / 100));
      box-shadow: calc(4vw / (1200 / 100)) 0 calc(15vw / (1200 / 100))
        calc(-8vw / (1200 / 100)) #4a4a4a;
      right: calc(72vw / (1200 / 100));
    }
    @include tab {
      right: 0;
      top: calc(830vw / (768 / 100));
      width: calc(230vw / (768 / 100));
      height: calc(60vw / (768 / 100));
      border-radius: calc(12vw / (768 / 100));
    }
    h4 {
      font-size: 22px;
      letter-spacing: 0.05em;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      @include pc {
        font-size: calc(22vw / (1200 / 100));
      }
      @include tab {
        font-size: calc(30vw / (768 / 100));
        writing-mode: horizontal-tb;
        -ms-writing-mode: horizontal-tb;
      }
    }
  }
  .tag1 {
    top: 80px;
    background: #ff9b57;
    @include pc {
      top: calc(80vw / (1200 / 100));
    }
    @include tab {
      top: calc(830vw / (768 / 100));
      left: calc(0vw / (768 / 100));
    }
  }
  .tag2 {
    top: 220px;
    height: 150px;
    background: #6dcaf3;
    @include pc {
      top: calc(220vw / (1200 / 100));
      height: calc(150vw / (1200 / 100));
    }
    @include tab {
      top: calc(830vw / (768 / 100));
      height: calc(60vw / (768 / 100));
      left: calc(255vw / (768 / 100));
    }
  }
  .tag3 {
    top: 380px;
    @include pc {
      top: calc(380vw / (1200 / 100));
    }
    @include tab {
      top: calc(830vw / (768 / 100));
    }
  }
  .back {
    p {
      padding-right: 41px;
      margin-top: 50px;
      text-align: right;
      font-size: 22px;
      @include pc {
        padding-right: calc(41vw / (1200 / 100));
        margin-top: calc(50vw / (1200 / 100));
        font-size: calc(22vw / (1200 / 100));
      }
      @include tab {
        padding-right: 0;
        margin-top: calc(70vw / (768 / 100));
        text-align: center;
        font-size: calc(40vw / (768 / 100));
      }
    }
  }
}
.profile.main-top {
  @include tab {
    margin-top: 0 !important;
  }
}
