.schedule {
  &__list {
    padding: 91px 42px 100px;
    @include pc {
      padding: calc(91vw / (1200 / 100)) calc(20vw / (1200 / 100))
        calc(100vw / (1200 / 100));
    }
    @include tab {
      padding: calc(46vw / (768 / 100)) 0 calc(100vw / (768 / 100));
    }
    .cast__box__list {
      &:first-of-type {
        &::before {
          content: "";
          display: block;
          top: 0;
          left: 0;
          width: 700px;
          @include pc {
            width: calc(1200vw / (2000 / 100));
          }
          @include tab {
            width: calc(600vw / (768 / 100));
          }
        }
      }
    }
  }
  &__btn {
    text-align: center;
    font-size: 18px;
    @include pc {
      font-size: calc(18vw / (1200 / 100));
    }

    &__list {
      @include flex;
      color: #fff;
      .dateactive {
        background: $blue;
        @include tab {
          color: #fff;
        }
      }
      @include tab {
        padding: 0 calc(16vw / (768 / 100));
        font-family: "A-OTF UD新ゴ Pro", $gothic;
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 157px;
        background-color: #3993a8;

        text-align: center;
        font-size: 20px;
        cursor: pointer;
        @include pc {
          padding: calc(8vw / (1200 / 100)) calc(12vw / (1200 / 100));
          font-size: calc(20vw / (1200 / 100));
          width: calc(157vw / (1200 / 100));
        }
        @include tab {
          flex-direction: column;
          padding: calc(16vw / (768 / 100)) 0;
          width: calc(97vw / (768 / 100));
          font-size: calc(29vw / (768 / 100));
          background-color: unset;
          border: 2px solid $blue;
          color: $blue;
          border-radius: calc(5vw / (768 / 100));
          &_week {
            font-size: calc(26vw / (768 / 100));
          }
        }

        &_date {
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: -0.03em;
          margin-right: 6px;
          @include pc {
            margin-right: calc(6vw / (1200 / 100));
          }
        }
      }
    }
  }
}
